<div class="container">
    <h1>Top Chicago Brunch Spots </h1>  
    
    <div class="row">
        <div class="col-md-6"    
            <% for place in @places %>
                <p><a href="detail/<%= place[:name] %>"> <%= place[:name] %></a></p>
            <% end %>
        </div>
    </div>
</div>