<div class="row">
    <div class="col-sm-8">
    <h1>Where in Chicago are you?</h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">606</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>